/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*------------------------------------------------------------------*/
body {
  background-color: #000;
  color: #00ff00;

  width: 100%;
  height: 100%;
  width: 100vw; /* Ширина в 100% від ширини вікна */
  height: 100vh; /* Висота в 100% від висоти вікна */

  user-select: none; /* Забороняє виділення тексту */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 17px;
  background-image: url("/HACKATON/CODE_HACKATON/HACKATON_IMG/10.jpg");
  background-size: cover;
  background-position: center;
  height: 100%; /* Задаємо висоту для тега html і body */
  margin: 0; /* Впевніться, що немає зовнішніх відступів */
}

img {
  user-select: none; /* Забороняє виділення зображень */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; /* Запобігає натисканню на зображення */
}

.boost_click {
  padding: 7px;
}

.HACKATON {
  width: 100%;
  height: 100px;
  background-color: #313131;
  margin: 0 auto 0 auto;
  border-radius: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 45px;
  color: #00ff00;
  border: 2px solid #e6e6e6;
  letter-spacing: 60px;
  transition: color 1s ease;
}

.points {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  margin: 30px 0 0 0;
  transition: color 1s ease;
}

.click {
  color: #00ff00;
  font-size: 32px;
  text-align: center;
  margin: 50px;
  
}

.click-btn {
  background-color: #313131;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s ease;
  border: 2px solid #e6e6e6;
  border-radius: 100%;
  transition: border-color 0.3s ease;
}
.img_HACKATON {
  width: 300px;
}
.click-btn:hover {
  border: 2px solid #ff0000;
}
.click-btn:active {
  background-color: #000;
}

.click_tekst {
  margin: 35px 0 0 0;
  transition: color 1s ease;
  letter-spacing: 16px;
  font-size: 50px;
  color: #00ff00;
  border: 2px solid #e6e6e6;
  background-color: #313131;
  border-radius: 17px;
} 
.all {
  display: flex;
}
.all_bot {
  display: flex;
  width: 100vw;
}

.all_bor {
  width: 250px;
  height: 100px;
  background-color: #313131;
  margin: 0 auto 0 auto;
  border-radius: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  color: #00ff00;
  border: 2px solid #e6e6e6;
  transition: color 1s ease;
}
.all_bor:hover{
  border: 2px solid #ff0000;
}